.navItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: color 0.2s ease-in-out;
  @apply text-primary/85;
}

.navItem::after {
  @apply bg-primary;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  position: absolute;
  transition: width 0.2s ease-in-out;
}

.navItem:hover::after {
  width: 100%;
}

.active::after {
  width: 100%;
}

.active {
  @apply text-primary;
}
