.navItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: color 0.2s ease-in-out;
  @apply text-primary/70;
}

.active {
  @apply text-primary;
}
